{% extends 'master.html' %}
{% block content %}
    {% load static %}
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img class="rounded img-fluid" src="../static/images/aboutus.jpg" alt="">
            </div>
            <div class="col-sm-8">
                <h4 style="font-weight: bold; font-family:Georgia,serif;">ABOUT US</h4>
                <p style="font-size: 20px; font-family:Georgia,serif; color: #040504">The idea to set up the organization was initiated by Sheikh. Mabrouk Aguer 
                    Thiep Aguer Incollaboration with the other directors. The two stakeholders collaborated to form the organization which was registered on 
                    151 May 2043 by the Relief and Rehabilitation Commission. The R.R.C is the official body in charge of registration of Non-Profit Organizations 
                    in South Sudan.</p>
                <p style="font-size: 20px; font-family:Georgia,serif; color: #040505">The main primary goal being; providing sustainable development initiative to 
                    empower the community and eradicate political  motivated ethnic violence in South Sudan Region specifically  the Bahr El Ghazal Region; 
                    Aweil, Wau, Kwajok,Warrap,  Rumbek, Abyei Region. The organization has managed to open thirty eight branches in South Sudan which are 
                    managed by seven officials in the executive senior management level and sixteen officials are the administration  management level.</p>
            </div>
        </div>
    </div>

    <div class="bg-primary">
        <h3 style="font-weight: bold; font-family:Georgia,serif; color: black" class="text-center">WHAT DRIVES US</h3>
        <div style="background-color: #33B864" class="row text-center">
            <div class="col-sm-4">
                <h4 style=" font-family: Georgia,serif; color: black">Our Vission</h4>
                <p class="pl-5" style="font-size: 20px; font-family:Georgia,serif; color: #040504">We envision a future where sustainable development practices are the norm, poverty is eradicated, and every individual can realize their full potential.
                    By fostering sustainable development and nurturing partnerships, we strive to create a society that is resilient, inclusive, and prosperous
                </p>
            </div>
            <div class="col-sm-4">
                <img class="rounded img-fluid" src="../static/images/mission.jpg" alt="">
            </div>
            <div class="col-sm-4">
                <h4 style=" font-family: Georgia,serif; color: black" class="pl-5">Our Mission</h4>
                <p class="pl-5" style="font-size: 20px; font-family:Georgia,serif; color: #040504">We are dedicated to creating lasting change by collaborating with local partners, leveraging innovative solutions, and advocating for policies that support the well¬being and resilience of underserved populations.
                    Through strategic partnerships with international organizations, we aim to address pressing social issues, promote self-reliance, and improve the overall well-being of the local communities we serve.
                </p>
            </div>
        </div>
{#        Key ex#}
        <section id="key-expertise">
    <h2>KEY EXPERTISE</h2>
    <div class="expertise-container">
        <div class="expertise-item">
            <h3>Humanitarian Aid</h3>
            <p>We provide urgent relief and support to individuals and communities affected by crises, natural disasters, and conflict. Our focus is on ensuring immediate access to food, shelter, healthcare, and other essential services and opportunities.</p>
        </div>
        <div class="expertise-item">
            <h3>Community Development</h3>
            <p>We implement projects and initiatives aimed at empowering local communities, fostering social cohesion, and creating sustainable livelihood opportunities. Our interventions focus on women, children, orphans, homeless children, and youth.</p>
        </div>
        <div class="expertise-item">
            <h3>Education</h3>
            <p>We invest in educational projects that promote access to quality education, from basic to higher levels. We establish schools, universities, workshops, and vocational training colleges to equip young people with the necessary skills for the local job market.</p>
        </div>
        <div class="expertise-item">
            <h3>Healthcare</h3>
            <p>We are committed to improving healthcare services and infrastructure in Southern Sudan. Our efforts include the establishment and support of mobile clinics and medical facilities, particularly in underserved areas or disaster-affected areas.</p>
        </div>
        <div class="expertise-item">
            <h3>Agricultural Production</h3>
            <p>We promote agricultural projects to combat poverty and ensure self-reliance. By supporting farmers and providing training and resources, we aim to enhance and promote agricultural productivity and food security.</p>
        </div>
        <div class="expertise-item">
            <h3>Partnership Approach</h3>
            <p>We collaborate with international agencies and governments/kingdoms; U.A.E, Turkish, Oman, Saudi Arabia, Kuwait, Morocco, Bahrain, French, Swiss, Polish, German, and British organizations to leverage expertise, resources, and networks. These partnerships enable us to achieve greater impact and sustainable development outcomes.</p>
        </div>
    </div>
</section>
        
{#        Key ex#}
        <h4 class="text-center" style=" font-family: Georgia,serif;color:#040505">Our Motto</h4>
        <p class="text-center" style="font-size: 20px; font-style: italic; font-family:Georgia,serif; color: #040504">"Creating Sustainable growth for a better future"</p>
    </div>
{% endblock %}

