{% extends 'master.html' %}
{% block content %}
    {% load static %}
    <div id="preloader"></div>
    <div class="bg-image">
        <div id="content" class="container">
            <h1 class="text-white text-center" style="font-family: Georgia,serif">Welcome to South Agency Development</h1>
            <p class="text-center" style="font-style: italic; font-family: Georgia,serif; font-size:40px; color: #040694">Creating <span class="auto-type"></span></p>
        </div>
    </div> <br>
    <div id="content" class="container">
        <h3 style=" font-family: Georgia,serif; color: black" class="text-center border-bottom mb-4">Welcome to South Agency Development</h3>
        <p style=" font-family: Georgia,serif; color: black">South Agency Development (S.A.D) is a Non-Profit National Organization Based in South Sudan, Juba.
            The organization was founded by: Sheikh. Mabrouk Aguer Thiep Aguer.</p>
        <div class="row">
            <div class="col-md-6">
                <img src="../static/images/southAgencyLogo2.jpg" alt="" style="width: 400px; height: 400px;">
            </div>
            <div class="col-md-6">
                <p style=" font-family: Georgia,serif; color: black">The two stakeholders collaborated to form the organization which was registered on
                    15th May 2024 by the Relief and Rehabilitation Commission, the official body in
                    charge of registration of Non-Profit Organization s in South Sudan.</p>
            </div>
            <div>
                <p class="text-center" style="font-size: 20px; font-style: italic; font-family:Georgia,serif; color: #040504">"Creating sustainable growth for a better future"</p>
            </div>
        </div>
    </div>

    <script>
        const loader = document.getElementById("preloader");
        window.addEventListener("load", function () {
            // Delay hiding the preloader for 3 seconds after the page loads
              setTimeout(function () {
            loader.style.display = "none";
                  let content;
                  content.style.display = "block"; // Show the content
            }, 1000); // 3000ms = 3 seconds delay
        });
    </script>

    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <script>
        const typed = new Typed(".auto-type", {
            strings: ["sustainable growth for a better future."],
            typeSpeed: 150,
            backSpeed: 150,
            loop: false
        });
    </script>
{% endblock %}