{% extends 'master.html' %}
{% block content %}
    {% load static %}
   <!-- Team 1 - Bootstrap Brain Component -->
    
    <!-- Team Section -->
    <section id="team" class="team section">
    
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
        <h2 class="mb-4 display-5 text-center">Our Team</h2>
        <p class="text-secondary mb-5 text-center lead fs-4">We are a group of innovative, experienced, and proficient teams. You will love to collaborate with us.</p>
        <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
      </div>
    </div>
        

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              <div class="member-img">
                <img style="height: 350px; width: 250px" src="../static/images/hon_Agui_Diing_Diing.jpg" class="img-fluid" alt="Hon Agui Diing Diing">
{#                <div class="social">#}
{#                  <a href=""><i class="bi bi-twitter-x"></i></a>#}
{#                  <a href=""><i class="bi bi-facebook"></i></a>#}
{#                  <a href=""><i class="bi bi-instagram"></i></a>#}
{#                  <a href=""><i class="bi bi-linkedin"></i></a>#}
{#                </div>#}
              </div>
              <div class="member-info">
                <h4>Hon Agui Diing Diing</h4>
                <span>Board Chairman</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="team-member">
              <div class="member-img">
                <img style="height: 350px; width: 250px" src="../static/images/mr_Mabrouk_Aguer_Thiep_Aguer.jpg" class="img-fluid" alt="Mr Mabrouk Aguer Thiep Aguer">
{#                <div class="social">#}
{#                  <a href=""><i class="bi bi-twitter-x"></i></a>#}
{#                  <a href=""><i class="bi bi-facebook"></i></a>#}
{#                  <a href=""><i class="bi bi-instagram"></i></a>#}
{#                  <a href=""><i class="bi bi-linkedin"></i></a>#}
{#                </div>#}
              </div>
              <div class="member-info">
                <h4>Mr Mabrouk Aguer Thiep Aguer</h4>
                <span>Chief Executive Director</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="team-member">
              <div class="member-img">
                <img style="height: 350px; width: 250px" src="../static/images/dr_Mamdoh_Abdullah_Aguer.jpg" class="img-fluid" alt="Dr Mamdoh Abdullah Aguer">
{#                <div class="social">#}
{#                  <a href=""><i class="bi bi-twitter-x"></i></a>#}
{#                  <a href=""><i class="bi bi-facebook"></i></a>#}
{#                  <a href=""><i class="bi bi-instagram"></i></a>#}
{#                  <a href=""><i class="bi bi-linkedin"></i></a>#}
{#                </div>#}
              </div>
              <div class="member-info">
                <h4>Dr Mamdoh Abdullah Aguer</h4>
                <span>Executive Director</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="team-member">
              <div class="member-img">
                <img style="height: 350px; width: 250px" src="../static/images/ikhlas_Yousif_Jawid_Fadlalha.jpg" class="img-fluid" alt="Dr Mawia Mabrouk Aguer">
{#                <div class="social">#}
{#                  <a href=""><i class="bi bi-twitter-x"></i></a>#}
{#                  <a href=""><i class="bi bi-facebook"></i></a>#}
{#                  <a href=""><i class="bi bi-instagram"></i></a>#}
{#                  <a href=""><i class="bi bi-linkedin"></i></a>#}
{#                </div>#}
              </div>
              <div class="member-info">
               <h4>Dr Mawia Mabrouk Aguer</h4>
                <span>General Coordinator of International Relations</span>
              </div>
            </div>
          </div><!-- End Team Member -->
            
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="team-member">
              <div class="member-img">
                <img style="height: 350px; width: 250px" src="../static/images/dr_Mawia_Mabrouk_Aguer.jpg" class="img-fluid" alt="Ikhlas Yousif Jawid Fadlalha">
{#                <div class="social">#}
{#                  <a href=""><i class="bi bi-twitter-x"></i></a>#}
{#                  <a href=""><i class="bi bi-facebook"></i></a>#}
{#                  <a href=""><i class="bi bi-instagram"></i></a>#}
{#                  <a href=""><i class="bi bi-linkedin"></i></a>#}
{#                </div>#}
              </div>
              <div class="member-info">
                   <h4>Ikhlas Yousif Jawid Fadlalha</h4>
                <span>General Development Project Director</span>
              </div>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>

    </section><!-- /Team Section -->
{% endblock %}